<h3>test</h3>


<h4>Deployment</h4>
This subsystem is deployed using micro-services as shown in the diagram below.
The subsystem also has an CLI, REST and Web Interface exposed through frontend service that routes
all paths to the appropriate microservices.

<img src='/examplestacks/envs/envs/test/Deployment.puml'> </img>

<h4>Physical Architecture</h4>
The exampleStacks subsystem is physically laid out on a hybrid cloud infrastructure.
Each micro-service communicates with each other through overlay networks as defined in the diagram
above. Each micro-service has three interfaces exposed Command Line Interface (CLI), Websocket (socket.io),
and a REST interface. This allows for scripting, event programing and connectivity through a common
REST interface.
<img src='/examplestacks/envs/envs/test/Physical.puml'> </img>

<h4>Micro-Services</h4>
These are the micro-services for the deployment of the subsystem. The combination of the micro-services help implement
the subsystem's logic.
<table>
    <thead>
        <th>Name</th>
        <th>Image</th>
        <th>Mapping</th>
        <th>Ports</th>
        <th>Network</th>
    </thead>
    <tbody>
    
    <tr>
        <td>admin</td>
        <td>examplestacks:latest</td>
        <td></td>
        <td></td>
        <td>[object Object]</td>
    </tr>
    
    <tr>
        <td>top</td>
        <td>examplestacks_t:latest</td>
        <td></td>
        <td></td>
        <td>[object Object]</td>
    </tr>
    
    <tr>
        <td>top2</td>
        <td>examplestacks_t2:latest</td>
        <td></td>
        <td></td>
        <td>[object Object]</td>
    </tr>
    
    <tr>
        <td>pubsub</td>
        <td>redis</td>
        <td></td>
        <td></td>
        <td>[object Object]</td>
    </tr>
    
    <tr>
        <td>web</td>
        <td>examplestacks_web</td>
        <td></td>
        <td></td>
        <td>[object Object]</td>
    </tr>
    
    <tr>
        <td>doc</td>
        <td>examplestacks_doc</td>
        <td></td>
        <td></td>
        <td>[object Object]</td>
    </tr>
    
    </tbody>
</table>
