<% for(let i in pkgs) {
    let pkg = pkgs[i];
console.log("PKG:", pkg.prefix);
%>
<li>
    <span>
        <a href='/doc/package<%= pkg.prefix %>' target="mainFrame"> <%= pkg.name %></a>
        <% if(pkg.hasOwnProperty('subpackages')) { %>
            <ul class="treeview" id="<%= pkg.prefix.replace(/\//, '_') %>">
            <%- partial('./templates/App/_packageTree.ejs', {pkgs: pkg.subpackages}) %>
            </ul>
        <% } %>
    </span>
</li>
<%
} %>
